{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
  },
  "globals": {
    "log": true,
  },
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": ["error", { "props": false }],
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "strict": "off",
    "max-len": "off",
    "func-names": "off",
    "prefer-arrow-callback": "off",
    "camelcase": "off"
  }
}
